* {
    font-family: 'Abril Fatface', cursive;
}
p {
    line-height: 200%;
}
.banner {
	margin: 50px auto;
}
.sectionOne {
    margin: 100px auto 100px;
}
.sectionTwo {
    margin: 50px auto;
    background-color: aliceblue;
}
.med {
    justify-content: center;
    margin: 10px auto;
}
.media {
	margin: 10px;
}
h1 {
    font-family: 'Rubik Spray Paint', cursive;
    font-size: 60px;
}
.sectionTwo h1 {
	text-align: center;
}
.flex-container {
	display: flex;
	justify-content: center;
	align-content: center;
    margin-top: 20px;
}
.sectionThree {
	margin: 50px auto;
}
h3 {
	font-weight: 600;
	color: midnightblue;
}
.section h1 {
	margin-top: 30px;
}
.section h4 {
	margin: 40px auto;
}
.tellMe {
	display: flex;
	justify-content: center;
}
.section {
	margin: 40px auto;
}
.write {
	margin-top: 10%;
}
.section4 {
	background-image: url(images/m4.webp); 
	background-size: cover; 
    background-repeat: no-repeat;
	background-position: left bottom;
}
.footer {
    margin-top: 50px;
    margin-bottom: 30px;
}
h2 {
	color: aliceblue;
	font-family: 'Rubik Spray Paint', cursive;
	font-size: 40px;
}
.learnMore {
	background-color: aliceblue;
	color: black;
	border: none;
}
h5 {
	font-size: 40px;
	font-family: 'Rubik Spray Paint', cursive;
}
.sectionD h2 {
	text-align: center;
    color: midnightblue;
}
.sectionD .thumbnail {
    border-radius: 10px;
}
.sectionc p {
    margin: 20px 5px;
}
.manage {
    margin-bottom: 40px;
}
.manage button {
    background-color: black;
    color: white;
    border-radius: 10px;
}
.sectionb {
    background-image: url(images/m4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionb h4 {
    text-align: center;
    color: midnightblue;
    font-size: 40px;
    padding-top: 40px;
}
.sectionc .thumbnail {
    border-radius: 25px;
    box-shadow: 4px 4px 2px 5px gainsboro;
    margin: auto 15px;
}